/* Styles used by all specs, including both Living Standards and Review
   Drafts, but not the HTML Dev Edition. Just bare structural stuff,
   since RDs intentionally don't get very styled. RDs will *not* have
   access to the common variables, so supply a basic (light-mode)
   fallback value for any variable usage in this stylesheet. */

.head .logo { position: absolute; top: 1em; right: 1em; line-height: 0; }
.head .logo img { border: none; }

.toc, .toc li { list-style: none; }
